/* Header Start */
header{
    padding: 0;
}
header img{
    width: 150px;
    height: 30px;

}
/* Header End */

/* Hero Section Start */
@media only screen and (max-width: 1000px){
    .hero-sec .hero-img img{
        width: 350px;
        height: auto;
    }

    .hero-sec{
        margin-top: 70px;
        margin: 0;
        padding: 0;
    }

    .hero-sec .hero-text{
        width: 100%;
        padding: 0;
        margin: 70px 10px 15px 10px;
    }

    .hero-sec .hero-img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero-sec .hero-img img{ 
        width: 500px;
        padding-left: 25px;
        margin-left: 300px;
        }
}

@media only screen and (max-width: 830px){
    .hero-sec .btn{
        padding: 10px;
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 790px){
    .hero-sec .btn{
        width: 50%;
    }
    .hero-sec .hero-area{
        flex-direction: column;
    }
    .hero-sec .hero-text h1{
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 460px){
    .hero-sec .btn{
        padding: 8px;
        font-size: 16px !important;
    }

    .head p{
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 375px){
    .hero-sec .hero-img img{
        width: 250px;
        height: auto;
    }

    .hero-sec .btn{
        width: 100%;
    }
}

@media only screen and (max-width: 315px){
    .hero-sec .hero-img img{
    width: 250px;
    height: auto;
}
}
/* Hero Section End */

/* Social Section Start */
@media only screen and (max-width: 300px){
    .social-sec .container-xxl{
    flex-direction: column;
}
}
/* Social Section End */

/* Services Section Start */
@media (max-width: 420px) {
    .card-item {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        height: auto;
    }

    .card-text {
        max-width: 100%; 
        gap: 20px;
    }

    .card-img {
        max-width: 50%; 
    }
}
/* Services Section Start */

/* Proposal Section Start */
@media only screen and (max-width: 810px){
    .proposal-sec .btn{
        padding: 8px;
        font-size: 16px !important;
    }
}

@media only screen and (max-width: 752px){
    .proposal-sec .hero-area{
        flex-direction: column;
    }
    .proposal-sec .hero-text h1{
        font-size: 2.5em;
    }

    .proposal-sec .hero-area{
        gap: 50px !important;
    }
}

@media only screen and (max-width: 440px){
    .proposal-sec .btn{
        width: 100%;
        padding: 10px;
        font-size: 16px !important;
    }

    .proposal-sec .hero-img img{
        width: 200px;
        height: auto;
    }
}


/* Proposal Section End */

/* Case Studies Section Start */
@media only screen and (max-width: 800px){
    .card-case{
        flex-direction: column;
        padding: 20px 40px;
    }

    .card-case .cards{
        border-right: none;
        border-bottom: 2px solid white;
        padding: 35px 0;
    }

    .card-case .cad-3{
        border-bottom: none;
    }
}
/* Case Studies Section End */

/* Working Process / FAQ Section Start */
@media (max-width: 430px) {
    .faq-header {
        flex-wrap: wrap; 
    }

    .faq-title {
        order: 3; 
        margin-left: 0; 
        margin-top: 10px; 
        text-align: center; 
        flex: 100%; 
    }

    .faq-number {
        order: 1; 
    }

    .faq-icon {
        order: 2; 
    }
}
/* Working Process / FAQ Section End */

/* Team Section Start */
@media only screen and (max-width: 360px){
    .team-sec .card-box{
        height: auto;
    }

    .card-box .card-top{
        flex-wrap: wrap;
    }

    .card-top .text{
        order: 3;
        margin-top: 10px;
    }

    .card-top .icon-team{
        order: 2;
        margin-top: 50px;
    }

    .card-top img{
        order: 1;
    }
}
/* Team Section End */

/* Testimonials Section Start  */
@media (max-width: 800px) {
  .testimonial-bubble{
    max-width: 500px;
  }
}

@media (max-width: 690px) {
  .testimonial-bubble{
    max-width: 400px;
  }

  .carousel-indicators{
    top: 420px;
  }

   .slider-sec .carousel{
        padding-bottom: 90px ;
    }
}

@media (max-width: 580px) {
  .testimonial-bubble{
    max-width: 300px;
  }

  .carousel-indicators{
    top: 470px;
  }

   .slider-sec .carousel{
        padding-bottom: 80px ;
    }
}

@media (max-width: 430px) {
  .testimonial-bubble{
    max-width: 250px;
  }

  .carousel-indicators{
    top: 550px;
  }

  .carousel-control-prev, .carousel-control-next{
    display: none;
  }
}
/* Testimonials Section End  */